.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

/* Left Side */

.sidebar {
    background-color: lightskyblue;
    color: white;
}

ul {
    list-style-type: none;
}

/* Right Side */

.right-side {
    grid-column: 2;
    grid-template-rows: 1fr 2fr 4fr;
    background-color: lightgrey;
}

.header {
    background-color: white;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

input {
    background-color: lightgrey;
}
