.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100vh;
}

/* Left Side */

.sidebar {
    background-color: #1B1A17;
    color: white;
    font-weight: bold;
}

ul {
    list-style-type: none;
}

h1 {
    margin-bottom: 50px;
}

li {
    margin-bottom: 15px;
    font-size: 1.2rem;
}

/* Right Side */

.right-side {
    grid-column: 2;
    grid-template-rows: 1fr 2fr 4fr;
    grid-template-columns: 3fr 1fr;
    background-color: lightgrey;
}

/*  */

.header {
    background-color: #D3C7B2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-left: 10px;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-right: 50px;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

input {
    grid-column: 1;
    border: 2px solid black;
    border-radius: 10px;
    width: 80%;
    height: 25px;
    margin-left: 5px;
}

.profile, .header-buttons {
    grid-column: 2;
}

.profile {
    display: flex;
    align-items: center;
    margin-left: 80px;
    font-weight: bold;
}

.profile-pic-left, .profile-pic-right {
    border-radius: 30px;
}

.profile-pic-right {
    margin-left: 20px;
    margin-right: 20px;
}

.greeting {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.greeting, button {
    margin-top: 40px;
    font-weight: bold;
}

button {
    border-radius: 10px;
    border: none;
    padding: 10px 26px;
    margin-left: 20px;
    background-color: black;
    color: white;
}

/*  */

.content-container {
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 3fr 1fr;
}

/*  */



.headings {
    grid-row: 2;
    font-weight: bold;
    display: grid;
    justify-content: center;
    grid-template-columns: 3fr 1fr;
}

.announce-heading {
    grid-column: 2;
    margin-left: 5px;
    font-size: 1.2rem;
}

.projects-heading {
    margin-left: 30px;
    font-size: 1.2rem;
}

/*  */

.cards-container {
    grid-row: 3;
    display: grid;
    justify-items: space-around;
    grid-template-columns: repeat(auto-fill, minmax(400px, 2fr));
    gap: 50px;
}

.cards {
    height: 150px;
    width: 300px;
    padding: 20px;
    border-left: 10px solid burlywood;
    background-color: white;
    margin-bottom: 20px;
    margin-left: 25px;
    border-radius: 10px;
    font-weight: bold;
}

.updates-container {
    grid-column: 2;
    grid-row: 3;
    margin-right: 20px;
}

.a-card {
    background-color: white;
    border-bottom: 3px solid black;
    padding: 20px;
    border-radius: 10px;
}

.trending {
    margin-top: 230px;
    background-color: white;
    border-radius: 10px;
}

.t-card {
    padding: 20px;
}